.all {
    font-family: 'Arial', sans-serif;
    background-color: #ffed00;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.logo-schaefer{
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 999;
}
.login-container {
    padding: 40px;
    border-radius: 10px;
    width: 30%;
    background-color: #999100;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}
.text{
    font-size: large;
    padding: 10px;
    color: white;
}

.input-field {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #D1D5DB;
    border-radius: 5px;
}
.login-button {
    width: 100%;
    padding: 10px;
    border: 2px solid black;
    background-color: black;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.login-button:hover {
    background-color: #4B5563;
}


.footer{
    background-color: black;

    position: fixed;
    margin: 20px;
    bottom: 0;
    right: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,400&display=swap');
.motto{
    padding: 8px;
    font-size: xx-large;
    font-family: 'Lato', sans-serif;
    font-style: italic;
    font-weight: bold;
    color: #ffed00;
}

.input-field.input-error {
    border: 2px solid red;
}

.error-message {
    color: red;
    margin-top: 10px;
}
