/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*for Test-Admin-PANEL*/

.btn-mainpage {
    --clr-font-main: hsla(0, 0%, 20%, 1);
    --btn-bg-1: hsla(0, 0%, 85%, 1); /* Light gray */
    --btn-bg-2: hsla(0, 0%, 40%, 1); /* Dark gray */
    --btn-bg-color: hsla(0, 0%, 100%, 1); /* White */
    --radii: 0.4em; /* Slightly adjusted for a larger button */
    cursor: pointer;
    padding: 0.75em 1.1em; /* Slightly larger padding */
    font-size: 0.9rem; /* Slightly larger font size */
    font-family: "Segoe UI", system-ui, sans-serif;
    font-weight: 500;
    transition: 0.8s;
    background-size: 280% auto;
    background-image: linear-gradient(325deg, var(--btn-bg-2) 0%, var(--btn-bg-1) 55%, var(--btn-bg-2) 90%);
    border: none;
    border-radius: var(--radii);
    color: var(--btn-bg-color);
    box-shadow: none; /* Removed the box-shadow */
}

.btn-mainpage:hover {
    background-position: right top;
}

.btn-mainpage:active {
    outline: none;
    box-shadow: none;
}

@media (prefers-reduced-motion: reduce) {
    .btn-mainpage {
        transition: linear;
    }
}
/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*for ADMIN-PANEL-FORM*/
.btn-save {
    --clr-font-main: hsla(0, 0%, 20%, 1);
    --btn-bg-1: hsla(194, 100%, 69%, 1); /* Light blue */
    --btn-bg-2: hsla(217, 100%, 56%, 1); /* Darker blue */
    --btn-bg-color: hsla(360, 100%, 100%, 1); /* White */
    --radii: 0.5em; /* Border radius */
    cursor: pointer;
    padding: 0.84em 1.36em; /* Slightly increased padding */
    min-width: 109px; /* Slightly increased min-width */
    min-height: 41px; /* Slightly increased min-height */
    font-size: calc(var(--size, 1rem) * 0.97); /* Slightly increased font size */
    font-family: "Segoe UI", system-ui, sans-serif;
    font-weight: 500;
    transition: 0.8s;
    background-size: 280% auto;
    background-image: linear-gradient(325deg, var(--btn-bg-2) 0%, var(--btn-bg-1) 55%, var(--btn-bg-2) 90%);
    border: none;
    border-radius: var(--radii);
    color: var(--btn-bg-color);
    box-shadow: 0px 0px 20px rgba(71, 184, 255, 0.5), 0px 5px 5px -1px rgba(58, 125, 233, 0.25), inset 4px 4px 8px rgba(175, 230, 255, 0.5), inset -4px -4px 8px rgba(19, 95, 216, 0.35);
}

.btn-save:hover {
    background-position: right top;
}

.btn-save:is(:focus, :focus-visible, :active) {
    outline: none;
    box-shadow: 0 0 0 3px var(--btn-bg-color), 0 0 0 6px var(--btn-bg-2);
}

@media (prefers-reduced-motion: reduce) {
    .btn-save {
        transition: linear;
    }
}



