
.hardwareCard {

    width: 20vw;

    margin: 10px;

    text-align: center;

    background-color: #f8f9fa; /* Hintergrundfarbe */

    border: 1px solid #ced4da; /* Rahmenfarbe */

    border-radius: 5px; /* Rahmenabrundung */

    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Schatten */
}


.hardwareCard img {
    width: 100%;

    height: 250px;

    object-fit: cover;
}


.hardwareCard button {
    background-color: #ffffff; /* Button Farbe */

    border: .5px solid black; /* Kein Rahmen */

    color: #333; /* Text Farbe */

    text-align: center; /* Text ist mittig ausgerichtet */

    text-decoration: none; /* Keine Unterstreichung */

    display: inline-block; /* Button wird als Block angezeigt */

    font-size: 16px; /* Schriftgröße */

    width: 60%;

    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 10px;

    background-color: #f8f9fa;

    cursor: pointer; /* Mauszeiger als "hand" bei hover */

    transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
}


.hardwareCard button:hover {
    background-color: #FFED00; /* Yellow color */
    transform: translateY(-5px); /* Move up by 5 pixels */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Add shadow */
    animation-duration: 5s;
}