.custom-header-bg {
    background-color: #FFED00;
    height: 4rem; /* Stellen Sie sicher, dass die Höhe hier definiert ist */
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type=number] {
    -moz-appearance: textfield;
}
