/* mainPage.css */

.price-input {
    padding: 0.76em 1.22em;
    min-width: 98px;
    min-height: 37px;
    font-size: calc(var(--size, 1rem) * 0.9);
    font-family: "Segoe UI", system-ui, sans-serif;
    font-weight: 500;
    border: 2px solid #333333;
    border-radius: 8px;
    outline: none;
    background-color: #fff;
    color: #333;
    transition: border-color 0.3s, transform 0.3s;
    box-sizing: border-box;
}

.price-input::placeholder {
    color: #aaa;
    font-style: italic;
}

.price-input:hover {
    background-color: #f0f8ff;
}

.price-input:focus {
    border-color: #333333;
    transform: scale(1.02);
}
